
#custom-label{
    color: blue;
    margin-bottom: 0.5rem;
    font-size:large;
    font-weight: 100px;
    }

h1{
    text-align: center;
    color: blue;
    font-weight: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
}
#exampleFormControlInput1{
    color: blue;
    border-radius:20px;
    padding: 1rem 2.25rem 0.375rem 30rem;
}

#exampleFormControlInput2{
color: blue;
border-radius:20px;
padding: 1rem 2.25rem 0.375rem 30rem;

}

#exampleFormControlTextarea1{
color: blue;
border-radius:20px;
padding: 1rem 2.25rem 0.375rem 30rem;
width: 100%;

}

.btn{
color: blue;
padding-bottom:30px;
padding-top:10px;
padding-right:100px;
padding-left:100px;
border-radius: 20px;
text-align: center

}